<html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel='stylesheet' type='text/css' href='/static/css/bootstrap.min.css'>
<link rel='stylesheet' type='text/css' href='/static/css/style.css'>
<link rel='stylesheet' type='text/css' href='/static/css/style_blog.css'>
<link rel="icon" type="image/png" href="/static/icons/icon_user.png" />
<meta charset="UTF-8">

<head>
    <title>-title- - Marc Álvarez</title>
</head>

<body>
    <div class="container mt-4">
        
        <div class="mx-auto text-center my-4">
            <img src="/static/icons/icon_-icon-.png" class=" mr-3" alt="..." style=" width: 64px; height: 64px;">
            <div class="h1">
                -title-
            </div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
                <li class="breadcrumb-item active" aria-current="page">-title-</li>
            </ol>
        </nav>

        <div class="container" id='mk'>
                -md-
        </div>
        <br>
        <hr/>
        <div class="text-muted">Published: -pubdate-</div>
        <div class="text-muted">Modified: -moddate-</div>
        <br>
    </div>
</body>

</html>