<html>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel='stylesheet' type='text/css' href='/static/css/bootstrap.min.css'>
<link rel='stylesheet' type='text/css' href='/static/css/style.css'>
<link rel="icon" type="image/png" href="/static/icons/icon_user.png" />
<meta charset="UTF-8">

<head>
    <title>How To Blog - Marc Álvarez</title>
</head>

<body>
    <div class="container mt-4">

        <div class="mx-auto text-center my-4">
            <h1 class="display-4"><img src="/static/icons/icon_book.png" class=" mr-3" alt="..."
                    style=" width: 64px; height: 64px;">How To Blog</h1>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
                <li class="breadcrumb-item active" aria-current="page">How To Blog</li>
            </ol>
        </nav>

        <div class="container" id='mk'>
                <!--name:How To Blog-->


<!--pubdate:09/07/2020-->


<!--moddate:10/07/2020-->


<!--icon:book-->


<h3>This is how to blogasfdasdfasdf!</h3>

<p>Weno weno, pues esto es una <a target="_blank" href="/">entrada</a> en mi super blog.</p>

<h4>esto es otro titulo</h4>
        </div>
        <br>
        <div class="text-muted">Publicado: 09/07/2020</div>
        <div class="text-muted">Modificado: 10/07/2020</div>
        <br>
    </div>
</body>
</html>