<!DOCTYPE html>
<html lang="es">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="icon" type="image/png" href="/static/icons/icon_user.png" />
<link rel='stylesheet' type='text/css' href='/static/global/css/style.css'>
<link rel='stylesheet' type='text/css' href='/static/blog/css/style.css'>

<head>
    <title>Marc Álvarez - Blog</title>
</head>

<body>
    <h1 class="pagetitle">
        <img class="icon notcentered" src="/static/global/icons/icon_book.png">
        Blog
    </h1>

    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li>Blog</li>
    </ul>

    <div class="rss">
        <a href="/blog/rss.xml">
            <img class="icon notcentered" src="/static/global/icons/icon_rss.png">
            <p>Get my RSS feed now!</p>
        </a>
    </div>

    <div class="content">
        <ul class="blogindex">
            <!--entry-->
        </ul>
    </div>

</body>

</html>